*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //This defines 1rem==10px==62.5%==10/16
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /*clip-path: polygon(
    51% 70%,
    68% 73%,
    81% 78%,
    93% 88%,
    100% 100%,
    0 100%,
    8% 87%,
    18% 78%,
    33% 72%
  );
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: 10rem;
  */
}
ul {
  list-style-type: none;
}
