.typo {
  &__name {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__title {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__navbar {
    font-size: 1.5rem;

    font-weight: 400;
    text-transform: uppercase;
  }
}
