//COLORS
$color-primary: #35b9f7;
$color-primary-light: #2ef0f0;
$color-primary-dark: #1661b8;

$color-gray-light-1: #f7f7f7;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//table-color
$color-primary-t: #35baf769;
$color-primary-light: #2ef0f0;
$color-primary-dark-t: #1662b854;
