{% extends 'Status_Update/base.html' %} {% block bodyblock %}
<div class="jambotron">
  {%if registerd%}
  <h1>Thank you</h1>
  {% else %}

  <form method="POST" enctype="multipart/form-data">
    <div class="login">
      <div class="login__inner">
        {% csrf_token %} {{user_form.username}} {{user_form.first_name}}
        {{user_form.last_name}} {{user_form.email}} {{user_form.password}}

        <input class="login__inner--submit" type="submit" value="Register" />
      </div>
    </div>
  </form>
  {%endif%}
</div>
{% endblock bodyblock %}
